<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-md-3">
        <img class="img img-thumbnail" [src]="'assets/'+hotel.photos[2]" alt="">
      </div>
      <div class="col-md-5">
        <h3 class="card-title">{{hotel.name}}</h3>
        <span class="badge badge-dark star-box">
          <app-star-rating [stars]="generateStars(hotel.stars)"></app-star-rating>
        </span>
        <address>{{hotel.location.address}}</address>
        <div class="price">
          <label>Starting from: </label>
          <h2>${{hotel.rooms[0].price}}</h2>
        </div>
      </div>
      <div class="col-md-4">
        <span class="badge badge-success" *ngFor="let service of hotel.services">{{service}}</span>
      </div>

    </div>
    <div class="row">
      <p class="description">{{hotel.description}}</p>
    </div>
  </div>
</div>
